
<form (submit)="updateRecord()">
    <table>
      <tr>
        <td>Title</td>
        <td><input type="text" name="title" [(ngModel)]="showRecord.record.Title"></td>
      </tr>
      <tr>
        <td>Artist</td>
        <td><input type="text" name="artist" [(ngModel)]="showRecord.record.Artist"></td>
      </tr>
      <tr>
        <td>Date</td>
        <td><input type="number" name="date" [(ngModel)]="showRecord.record.Date"></td>
      </tr>
      <tr>
        <td><button>Update</button></td>
      </tr>
    </table>
  </form>
